:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #1a1a1a;
  color: #e0e0e0;
}

#root {
  background-color: #1a1a1a;
  color: #e0e0e0;
}

h1 {
  font-size: 2em;
  line-height: 1.1;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}
